body{
    background-color: whitesmoke;
}


.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(32, 1fr);
    width: 500px;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.grid-cell {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 0px;
    margin: 0px;
}

.grid-center{
    display: flex;
    justify-content: center;
}