*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;

}


h1{
    font-size: 48px;
    color: #333;
    font-weight: bold;
    /* text-shadow: 5px 5px #eddcd2; */
    padding: 25px;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
}

.tools{
    display: flex;
    flex-direction: column;
}

.grid-container {
    display: grid;
    justify-content: center;
    width: 512px;
    height: 512px;
    
}

.grid-cell {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 0px;
    margin: 0px;
    border: 0.01rem solid rgb(209, 202, 202)
}

.grid-center{
    display: flex;
    justify-content: center;
}


